[Desktop Entry]
Encoding=UTF-8
Name=Printer Wizard
Exec=python /usr/local/bin/config-printer.py
Icon=//usr/share/icons/gTangish-2.0a1/32x32/actions/stock_print-setup.png
Terminal=false
Type=Application
Categories=Printing;HardwareSettings;Settings
